body {
  font-family: 'Open Sans', sans-serif;
  fon-size: 16px;
}

a {
  color: #47A5FF;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  outline: none;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 4px solid transparent;
  transition: all 300ms;
}
form label {
  display: block;
  font-size: 40px;
  margin: 40px;
}
form input[type=search], form button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}
form input[type=search] {
  border: 1px solid #47A5FF;
  transition: border 200ms;
}
form input[type=search]:focus {
  outline: none;
  border: 1px solid #3561E8;
}
form button {
  background-color: #ededed;
  border-color: transparent;
  cursor: pointer;
  color: #47A5FF;
  margin-left: 10px;
  transition: all 200ms;
}
form button:hover {
  color: #fff;
  background-color: #47A5FF;
}
form .random {
  margin-top: 20px;
}

form.compact {
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  padding: 20px 10px;
  border-bottom: 4px solid #eee;
}
form.compact label {
  order: 3;
  margin: 0;
  margin-left: 40px;
}
form.compact input {
  order: 1;
}
form.compact button {
  order: 2;
}

div.results {
  line-height: 1.5;
  padding: 0px 40px;
}
div.results .item {
  background-color: #efefef;
  margin: 20px 0;
}
div.results .item .title {
  padding: 20px 10px 5px;
}
div.results .item .desc {
  padding: 5px 10px 20px;
}
