* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 14px; }
  @media (min-width: 426px) {
    html {
      font-size: 16px; } }
  @media (min-width: 1025px) {
    html {
      font-size: 20px; } }
  @media (min-width: 1800px) {
    html {
      font-size: 24px; } }

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  line-height: 1.5;
  color: #5d5252; }

a {
  color: #47A5FF;
  text-decoration: none; }
  a:hover {
    text-decoration: underline;
    color: #2a6fb1; }
  a:focus {
    outline: none; }

form {
  text-align: center;
  margin-top: 5em;
  -webkit-transition: margin-top 300ms;
  transition: margin-top 300ms; }
  form label {
    font-family: 'EB Garamond', serif;
    font-size: 2em;
    color: #ea7a57; }
  form .search {
    font-size: 1.3em;
    border: 1px solid #47A5FF;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 0.5em;
    margin: 2em auto;
    -webkit-transition: margin 300ms;
    transition: margin 300ms;
    -webkit-box-shadow: 0 0 2px 2px rgba(71, 165, 255, 0);
    box-shadow: 0 0 2px 2px rgba(71, 165, 255, 0); }
    @media (min-width: 1025px) {
      form .search {
        width: 50%; } }
    form .search.highlight {
      -webkit-box-shadow: 0 0 2px 2px rgba(71, 165, 255, 0.5);
      box-shadow: 0 0 2px 2px rgba(71, 165, 255, 0.5); }
    form .search > div {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
      form .search > div input {
        font-size: 1em;
        background-color: transparent;
        border: none;
        width: 100%;
        height: 100%;
        padding: 0 0.5em;
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em; }
        form .search > div input:focus {
          outline: none; }
    form .search button {
      cursor: pointer;
      color: #fff;
      background-color: #47A5FF;
      font-size: 1em;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      padding: .5em;
      border: none;
      border-top-right-radius: 0.4em;
      border-bottom-right-radius: 0.4em; }
      form .search button:focus {
        outline: none; }
  form .random {
    font-size: 1em; }
  form.compact {
    margin-top: 1em; }
    form.compact .search {
      margin: 0.5em auto; }

.border {
  max-width: 0;
  margin: 0 auto;
  margin-top: 1em;
  height: 2px;
  background-color: transparent;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  -webkit-transition-property: max-width, background-color;
  transition-property: max-width, background-color; }
  .border.grow {
    max-width: 95%;
    background-color: #d8ebf9; }
    @media (min-width: 1500px) {
      .border.grow {
        max-width: 1336px; } }

.results {
  text-align: left;
  width: 95%;
  margin: 1em auto;
  font-size: 1em; }
  @media (min-width: 1500px) {
    .results {
      width: 100%;
      max-width: 1336px; } }
  .results .item {
    background-color: #d8ebf9;
    -webkit-transition: background-color,border-left 200ms linear;
    transition: background-color,border-left 200ms linear;
    padding: 0.5em;
    margin-bottom: 0.3em;
    border-left: 0.5em solid transparent;
    display: block; }
    .results .item > span {
      display: block; }
    .results .item:hover {
      background-color: #cae6fb;
      border-left: 0.5em solid #47A5FF;
      text-decoration: none;
      color: #47A5FF; }
      .results .item:hover .searchmatch {
        background-color: #f6fbff; }
    .results .item .title {
      margin-bottom: 0.2em;
      font-weight: 700;
      color: #ea7a57; }
    .results .item .desc {
      color: #5d5252; }
  .results.error {
    color: #d63737;
    text-align: center; }
