* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 12px; }
  @media (min-width: 426px) {
    html {
      font-size: 16px; } }
  @media (min-width: 1025px) {
    html {
      font-size: 20px; } }

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 1.5; }

a {
  color: #47A5FF;
  text-decoration: none; }
  a:hover {
    text-decoration: underline;
    color: #2a6fb1; }
  a:focus {
    outline: none; }

form {
  text-align: center;
  margin-top: 5em;
  transition: margin-top 300ms; }
  form label {
    font-size: 2em; }
  form .search {
    font-size: 1.3em;
    border: 1px solid #47A5FF;
    width: 80%;
    display: flex;
    border-radius: 0.5em;
    margin: 2em auto;
    transition: margin 300ms; }
    @media (min-width: 1025px) {
      form .search {
        width: 50%; } }
    form .search.highlight {
      border: 1px solid #2a6fb1; }
    form .search > div {
      flex-grow: 1; }
      form .search > div input {
        font-size: 1em;
        background-color: transparent;
        border: none;
        width: 100%;
        height: 100%;
        padding: 0 0.5em;
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em; }
        form .search > div input:focus {
          outline: none; }
    form .search button {
      background-color: red;
      font-size: 1em;
      flex-shrink: 0;
      width: 2em;
      height: 2em;
      text-indent: -9999px;
      border: none;
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 0.5em; }
      form .search button:focus {
        outline: none; }
  form .random {
    font-size: 1em; }
  form.compact {
    margin-top: 1em; }
    form.compact .search {
      margin: 0.5em auto; }

.border {
  width: 0;
  margin: 0 auto;
  margin-top: 1em;
  height: 2px;
  background-color: transparent;
  transition: all 1000ms;
  transition-property: width,background-color; }
  .border.grow {
    width: 95%;
    background-color: #ddd; }

.results {
  text-align: left;
  width: 95%;
  margin: 1em auto;
  font-size: 1em; }
  .results .item {
    background-color: #eee;
    padding: 0.5em;
    margin-bottom: 0.3em; }
    .results .item .title {
      margin-bottom: 0.2em; }
    .results .item .searchmatch {
      background-color: yellow; }
  .results.error {
    color: #d63737;
    text-align: center; }
