$blue: #47A5FF;
$dark-blue: #2a6fb1;
$lighter-blue: #d8ebf9;
$light-blue: #cae6fb;

$highlight: #ea7a57;
$font-color: #5d5252;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 12px;
  @media (min-width: 426px) {font-size: 16px;}
  @media (min-width: 1025px) {font-size: 20px;}
  @media (min-width: 1800px) {font-size: 24px;}
}

body {
   font-family: 'Roboto', sans-serif;
   text-align: center;
   line-height: 1.5;
   color: $font-color;
}

a {
   color: $blue;
   text-decoration: none;
   &:hover {
      text-decoration: underline;
      color: $dark-blue;
   }
   &:focus {
      outline: none;
   }
}

form {
  text-align: center;
  margin-top: 5em;
  transition: margin-top 300ms;


  label {
    font-family: 'EB Garamond', serif;
    font-size: 2em;
    color: $highlight;
  }

  .search {
    font-size: 1.3em;
    border: 1px solid $blue;
    width: 80%;
    display: flex;
    border-radius: 0.5em;
    margin: 2em auto;
    transition: margin 300ms;
    box-shadow: 0 0 2px 2px rgba(71, 165, 255, 0);
    @media (min-width: 1025px) {width: 50%;}


    &.highlight {
      box-shadow: 0 0 2px 2px rgba(71, 165, 255, 0.5);
    }
    > div {
      flex-grow: 1;

      input {
        font-size: 1em;
        background-color: transparent;
        border: none;
        width: 100%;
        height: 100%;
        padding: 0 0.5em;
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
        &:focus {
          outline: none;
          // background-color: #eee;
        }
      }
    }
    button {
      cursor: pointer;
      color: #fff;
      background-color: $blue;
      font-size: 1em;
      flex-shrink: 0;
      padding: .5em;
      border: none;
      border-top-right-radius: 0.4em;
      border-bottom-right-radius: 0.4em;
      // box-shadow: 0 0 0px 1px $blue;
      &:focus {
        outline: none;
      }
    }

  }

  .random {
    font-size: 1em;
  }

  &.compact {
    margin-top: 1em;


    .search {
      margin: 0.5em auto;
    }
  }


}

.border {
  width: 0;
  margin: 0 auto;
  margin-top: 1em;
  height: 2px;
  background-color: transparent;
  transition: all 200ms 300ms ease-in;
  transition-property: width, background-color;

  &.grow {
    width: 95%;
    background-color: $lighter-blue;
    @media (min-width: 1024px) {
      max-width: 1336px;
    }
  }
}

.results {
  text-align: left;
  width: 95%;
  margin: 1em auto;
  font-size: 1em;
  @media (min-width: 1024px) {
    max-width: 1336px;
  }

  .item {
    background-color: $lighter-blue;
    transition: background-color,border-left 500ms linear;
    padding: 0.5em;
    margin-bottom: 0.3em;
    border-left: 0.5em solid transparent;
    display: block;
    > span {
      display: block;
    }

    &:hover {
      background-color: $light-blue;
      border-left: 0.5em solid $blue;
      text-decoration: none;
      color: $blue;
    }

    .title {
      margin-bottom: 0.2em;
      font-weight: 700;
      color: $highlight;
    }
    .desc {
      color: $font-color;
    }
    .searchmatch {
      background-color: #f6fbff;
    }
  }

  &.error {
    color: #d63737;
    text-align: center;
  }
}
