$blue: #47A5FF;
$dark-blue: #2a6fb1;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 12px;
  @media (min-width: 426px) {font-size: 16px;}
  @media (min-width: 1025px) {font-size: 20px;}
}

body {
   font-family: 'Open Sans', sans-serif;
   text-align: center;
   line-height: 1.5;
}

a {
   color: $blue;
   text-decoration: none;
   &:hover {
      text-decoration: underline;
      color: $dark-blue;
   }
   &:focus {
      outline: none;
   }
}

form {
  text-align: center;
  margin-top: 5em;
  transition: margin-top 300ms;


  label {
    font-size: 2em;
  }

  .search {
    font-size: 1.3em;
    border: 1px solid $blue;
    width: 80%;
    display: flex;
    border-radius: 0.5em;
    margin: 2em auto;
    transition: margin 300ms;
    @media (min-width: 1025px) {width: 50%;}


    &.highlight {
      border: 1px solid $dark-blue;
    }
    > div {
      flex-grow: 1;

      input {
        font-size: 1em;
        background-color: transparent;
        border: none;
        width: 100%;
        height: 100%;
        padding: 0 0.5em;
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
        &:focus {
          outline: none;
          // background-color: #eee;
        }
      }
    }
    button {
      background-color: red;
      font-size: 1em;
      flex-shrink: 0;
      width: 2em;
      height: 2em;
      text-indent: -9999px;
      border: none;
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
      &:focus {
        outline: none;
      }
    }

  }

  .random {
    font-size: 1em;
  }

  &.compact {
    margin-top: 1em;


    .search {
      margin: 0.5em auto;
    }
  }


}

.border {
  width: 0;
  margin: 0 auto;
  margin-top: 1em;
  height: 2px;
  background-color: transparent;
  transition: all 1000ms;
  transition-property: width,background-color;
  &.grow {
    width: 95%;
    background-color: #ddd;
  }
}

.results {
  text-align: left;
  width: 95%;
  margin: 1em auto;
  font-size: 1em;

  .item {
    background-color: #eee;
    padding: 0.5em;
    margin-bottom: 0.3em;

    .title {
      margin-bottom: 0.2em;
    }
    .searchmatch {
      background-color: yellow;
    }
  }

  &.error {
    color: #d63737;
    text-align: center;
  }
}
